{% extends "layout.html.twig" %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}


{% block main %}

    <div class="lessonCourse-page">
        <!-- Container for search form and logout button -->
        <div class="search-logout-container">
            <!-- Form for searching course by keyword -->
            <form action="index.php?route=search-course-keyword" method="GET">
                <input type="hidden" name="route" value="search-course-keyword">
                <input type="search" name="keyword" id="keyword" placeholder="Rechercher cours par mot-clé">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
    
            <!-- Logout button with an icon -->
            <a href="index.php?route=logout">
                <!-- Logout icon -->
                <i class="fa-solid fa-power-off"></i>
            </a>
        </div>
    
        <section class="course-title">
            <!-- Title of the lesson -->
            <h2>{{ lessonName }}</h2>
        
            <!-- Loop through courses -->
            {% for course in courses %}
            <section class="course-render">
                <!-- Course subject -->
                <h3>{{ course.subject }}</h3>
        
                <!-- Link to PDF -->
                {% if course.fichierpdf %}
                <a href="{{ course.fichierpdf }}" download>Télécharger PDF</a>
                {% endif %}
            
                <!-- Image of the course -->
                {% if course.image %}
                <img src="{{ course.image }}" alt="image sur {{ course.title }}">
                {% endif %}
        
                <!-- Course summary -->
                <section class="course-summary-section">
                    <h4>Résumé du cours</h4>
                    <p class="course-summary">{{ course.summary }}</p>
                </section>
            
                <!-- YouTube video -->
                {% if course.video %}
                <div class="youtube-video">
                    <iframe width="350" height="250" src="{{ course.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
        
                <!-- Course content -->
                <h5>Contenu du cours </h5>
                <div  class="courses-container overflow-auto pr-3">{{ course.content }}</div>
            
                <!-- Course link -->
                {% if course.link %}
                <div class="course-link">
                    <a href="{{ course.link }}" target="_blank">Cliquez ici pour plus de ressources</a>
                </div>
                {% endif %}
            
            </section> 
            {% endfor %}
        </section>
    </div>

{% endblock %}


{% block footer %}
   {% include "footer.html.twig" %}
{% endblock %}
