{% extends "layout.html.twig" %}

{% block header %}
   {% include "header.html.twig" %}
{% endblock %}

{% block main %}
    
    <section class="course-title">
        <!-- Title of the lesson -->
        <h2>{{ lessonName }}</h2>
        
        <!-- Loop through courses -->
        {% for course in courses %}
        <section class="course-render">
            <!-- Course subject -->
            <h3>{{ course.subject }}</h3>

            <!-- Actions -->
            <div class="course-actions">
                <a href="index.php?route=update-course&id={{ course.id }}">Modifier</a>
                <a href="index.php?route=delete-course&id={{ course.id }}" onclick="return confirm('Voulez-vous vraiment supprimer ce cours?');">Supprimer</a>
            </div>
        
            <!-- Link to PDF -->
            {% if course.fichierpdf %}
            <a href="{{ course.fichierpdf }}" download>Télécharger PDF</a>
            {% endif %}
            
            <!-- Image of the course -->
            {% if course.image %}
            <img src="{{ course.image }}" alt="image sur {{ course.title }}">
            {% endif %}
        
            <!-- Course summary -->
            <section class="course-summary-section">
                <h4>Résumé du cours</h4>
                <p class="course-summary">{{ course.summary }}</p>
            </section>
            
            <!-- YouTube video -->
            {% if course.video %}
            <div class="youtube-video">
                <iframe width="350" height="250" src="{{ course.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
        
            <!-- Course content -->
            <h5>Contenu du cours </h5>
            <div  class="courses-container overflow-auto pr-3">{{ course.content }}</div>
            
            <!-- Course link -->
            {% if course.link %}
            <div class="course-link">
                <a href="{{ course.link }}" target="_blank">Cliquez ici pour plus de ressources</a>
            </div>
            {% endif %}
            
        </section> 
        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}

